<section class="content-header">
  	<h1>
    	Patients
    	<small>Add new patient</small>
  	</h1>
</section>
<section class="content">
	<div class="row">
		<div ng-controller="PatientController" class="col-md-12">
			<div class="box box-primary">
				<form role="form" name="patientForm" class="form-horizontal" novalidate>
					<div class="box-body">
						<div class="form-group">
							<div class="col-md-2">
								<label>Registration Number</label>
								<input type="text" class="form-control" ng-model="patient.uniqueid" ng-readonly="true">
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<label>Initials</label>
								<select class="form-control" ng-model="patient.selectedInitial">
									<option ng-repeat="initial in patient.initials" value="{{initial}}">{{initial}}</option>
								</select>
							</div>
							<div class="col-md-4">
								<label for="First Name">First Name</label>
								<input type="text" class="form-control" ng-model="patient.firstname" name="firstname" placeholder="Enter your first name" required>
								<span class="error" ng-show="patientForm.submitted && patientForm.firstname.$invalid">Please enter first name.</span>
								
							</div>
							<div class="col-md-4">
								<label for="Last Name">Last Name</label>
								<input type="text" class="form-control" ng-model="patient.lastname" name="lastname"  placeholder="Enter your last name" required>
								<span class="error" data-ng-show="patientForm.submitted && patientForm.lastname.$invalid">Please enter last name.</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<label>Gender</label>
								<select class="form-control" ng-model="patient.gender">
									<option ng-repeat="gender in patient.genders" value="{{gender}}">{{gender}}</option>
								</select>
							</div>
							
							<div class="col-md-4 date">
								<label for="dob">Date of Birth</label>
								<div class='input-group'>
									<input ng-click="open()" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="patient.dob" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
									<span class="input-group-btn">
	        							<button type="button" ng-click="open()" class="btn btn-default" ><i class="glyphicon glyphicon-calendar"></i></button>
	          						</span>
	          					</div>
							</div>

							<div class="col-md-4">
								<label>Marital Status</label>
								<select class="form-control" ng-model="patient.maritalstatus">
									<option ng-repeat="martiastatus in patient.maritalstatuses" value="{{martiastatus}}">{{martiastatus}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-md-4">
								<label for="cellphone">Cell</label>
								<input type="text" class="form-control" ng-model="patient.cell" name="cell" placeholder="Enter your mobile phone number" required>
								<span class="error" data-ng-show="patientForm.submitted && patientForm.cell.$invalid">Please enter cell number.</span>
							</div>
							<div class="col-md-4">
								<label for="cellphone">Phone</label>
								<input type="text" class="form-control" ng-model="patient.phone" name="phone" placeholder="Enter your home phone number" required>
								<span class="error" data-ng-show="patientForm.submitted && patientForm.phone.$invalid">Please enter phone number.</span>
							</div>
							<div class="col-md-4">
								<label for="lastname">Email Address</label>
								<input type="email" class="form-control" ng-model="patient.email" name="email" placeholder="Enter your email address" ng-model-options="{ getterSetter: true }">
							</div>
						</div>


						<div class="form-group">
							<div class="col-md-6">
								<label for="address">Address</label>
								<input type="text" class="form-control" name="address" ng-model="patient.address" placeholder="Enter your address">
								<span class="error" data-ng-show="patientForm.submitted && patientForm.cell.$invalid">Please enter address.</span>
							</div>
							<div class="col-md-6">
								<label for="address">Occupation</label>
								<select class="form-control" ng-model="patient.occupation">
									<option ng-repeat="occupation in patient.occupations" value="{{occupation}}">{{occupation}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<label for="address">Reason of Visit</label>
								<textarea class="form-control visit_reason" ng-model="patient.reasonOfVisit" name="reasonOfVist" rows="5" scroll required></textarea>
								<span class="error" data-ng-show="patientForm.submitted && patientForm.cell.$invalid">Please enter the reason of visit.</span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div ng-show="errors != null" class="alert alert-danger" role="error">
            						<span class="sr-only">Error: </span>{{errors}}
            					</div>
								<div ng-show="alerts != null" class="alert alert-success" role="alert">
            						<span class="sr-only">Success: </span>{{alerts}}
            					</div>
								<button class="btn-block btn btn-primary" ng-click="addNewPatient(patient)" type="button">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>