<div  ng-controller="MainController">
<section class="content-header">
	<h1>
		Patients
    	<small>List of patients</small>
  	</h1>
</section>
<section class="content">
	<div class="box">
		<div class="box-body table-responsive no-padding">
  			<table id="myTable" class="table table-hover tablesorter">
    			<thead>
	          		<th>First Name</th>
		          	<th>Last Name</th>
		          	<th>Contact</th>
		          	<th>Status</th>
    			</thead>
    			<tr>
		         	<td>183</td>
	         	 	<td>John Doe</td>
		          	<td>091-5276789</td>
		          	<td><span class="label label-success">Completed</span></td>
		     	</tr>
   	 			<tr>
      				<td>219</td>
		          	<td>Alexander Pierce</td>
		        	<td>091-5200567</td>
		          	<td><span class="label label-warning">Pending</span></td>
		     	</tr>
    			<tr>
		         	<td>657</td>
		          	<td>Bob Doe</td>
			        <td>091-5253442</td>
			        <td><span class="label label-success">Completed</span></td>
			 	</tr>
		        <tr>
		        	<td>175</td>
		          	<td>Mike Doe</td>
		          	<td>091-5516899</td>
		          	<td><span class="label label-warning">Pending</span></td>
		        </tr>
  			</table>
		</div>
	</div>
</section>
</div>
<script>
$(document).ready(function() 
    { 
        $("#myTable").tablesorter( {sortList: [[0,0], [1,0]]} ); 
    } 
); 
</script>