<div  ng-controller="MainController">
	<section class="content-header">
		<h1>
			Patients
	    	<small>List of patients</small>
	  	</h1>
	</section>
	<section class="content">
		<div class="box">
			<div class="box-body table-responsive no-padding">
				<table id="patientsTable" class="table table-hover">
	    			<thead class='thead'>
		              	<!-- <span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span> -->
		          		<th ng-click="order('registration_number')">Registration #</th>
		          		<!-- <span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span> -->
			          	<th ng-click="order('first_name')">First Name</th>
			          	<!-- <span class="sortorder" ng-show="predicate === 'clinic_name'" ng-class="{reverse:reverse}"></span> -->
			          	<th ng-click="order('last_name')">Last Name</th>
			          	<!-- <span class="sortorder" ng-show="predicate === 'email'" ng-class="{reverse:reverse}"></span> -->
			          	<th ng-click="order('gender')">Gender</th>

			          	<th ng-click="order('cell')">Cell</th>
			          	<!-- <span class="sortorder" ng-show="predicate === 'contact'" ng-class="{reverse:reverse}"></span> -->
					</thead>
	    			<tr ng-repeat="patient in filteredPatientsList">
			         	<td>{{patient.registration_number}}</td>
			         	<td>{{patient.first_name}}</td>
			         	<td>{{patient.last_name}}</td>
			         	<td>{{patient.gender}}</td>
			         	<td>{{patient.cell}}</td>
			     	</tr>
	  			</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<uib-pagination class="pull-right pagination-sm" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" boundary-link-numbers="true" rotate="false"></uib-pagination>
			</div>
		</div>
	</section>
</div>